@model Lab21.Models.NewUserModel 
@{ 
    ViewBag.Title = "NewUser";
}

<h2>It is Our Pleasure to Serve You!!</h2> 

<h5> Please complete the form to register!</h5>
<form>
    <p>
    <input type="text" name="lastname" placeholder="Last Name" required>
    </p> <p>
    <input type="text" name="firstname" placeholder="First Name" required>
    </p> <p>
    <input type="email" name="email" placeholder="Email Address" required>
    </p> <p>
    <input type="tel" name="telephone" placeholder="111-222-3456"required>
    </p>
    <button type="submit">Create User</button>
</form>
    
<br />
<br />
<h4>Thank you for your registration!!</h4>

